#menu li {
    display: inline;
}

#content {
}

.inline > * {
    display: inline;
}

.rotate {
animation-name: rotateThis;
animation-duration: 1.6s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}

@keyframes rotateThis {
from { transform: scale( 1 ) rotate( 0deg ); }
to { transform: scale( 1 ) rotate( 360deg ); }
}

.pagination {
    margin: 0 0;
}

.form-inline .input-group {
    width: 200px !important;
    margin: 0 2px 4px 0;
}

.g {
    text-shadow:
    -1px -1px 0 rgba(255, 215, 0, 0.25),
    1px -1px 0 rgba(255, 215, 0, 0.25),
    -1px 1px 0 rgba(255, 215, 0, 0.25),
    1px 1px 0 rgba(255, 215, 0, 0.25)
}

.s {
    text-shadow:
    -1px -1px 0 rgba(192, 192, 192, 0.25),
    1px -1px 0 rgba(192, 192, 192, 0.25),
    -1px 1px 0 rgba(192, 192, 192, 0.25),
    1px 1px 0 rgba(192, 192, 192, 0.25)
}

.c {
    text-shadow:
    -1px -1px 0 rgba(184, 134, 11, 0.25),
    1px -1px 0 rgba(184, 134, 11, 0.25),
    -1px 1px 0 rgba(184, 134, 11, 0.25),
    1px 1px 0 rgba(184, 134, 11, 0.25)
}

.m-l {
    margin-left: 10px;
}
