{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static "app.js" %}"></script>
    <title>{% block title %}Flippo{% endblock %}</title>
</head>

<body>
    <div id="menu">
        {% block breadcrumb %}
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="#" id="refresh-prices">
              <i class='glyphicon glyphicon-refresh'></i> Refresh prices </a><span id="progress"></span></li>
        </ol>
        {% endblock %}
    </div>

    <div id="content" class="panel panel-default">
        {% block content %}{% endblock %}
    </div>
</body>
</html>