{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="{% static "app.js" %}"></script>
    <title>{% block title %}Flippo{% endblock %}</title>
</head>

<body>
    <div id="menu">
        {% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/items/watchlist/">Watchlist</a></li>
            <li><a href="#" id="refresh-prices">
            <i class='refresh-all glyphicon glyphicon-refresh'></i> Refresh all prices </a>
               <span id="progress"></span></li>
            {% if user.is_authenticated %}
                <li class="pull-right"><a href = "/logout/">Logout</a></li>
                <li class="pull-right">{{ user.username }}</li>
                {% if user.is_superuser %}
                    <li class="pull-right"><a href = "/register/">Register user</a></li>
                {% endif %}
            {% else %}
                <li class="pull-right"><a href="/login/">Login</a></li>
                <li class="pull-right"><a href="/register/">Register</a></li>
            {% endif %}
        </ol>
        {% endblock %}
    </div>

    <div id="content" class="panel panel-default">
    {% if request.GET.msg %}<div class="alert alert-success" role="alert">{{ request.GET.msg }}</div>{% endif %}
    {% if request.GET.error %}<div class="alert alert-danger" role="alert">{{ request.GET.error }}</div>{% endif %}
    {% url "login" as login_url %}
    {% url "register" as register_url %}
        {% if user.is_authenticated or login_url in request.path or register_url in request.path %}
            {% block content %}{% endblock %}
        {% else %}
            <div class="alert alert-danger" role="alert">Only registered users can view this content.</div>
        {% endif %}
    </div>
</body>
</html>