{% extends "base.html" %}
{% block content %}
    <div class="panel-body">
        <form method="POST" id="filter">
            {% csrf_token %}
            <div class="form-group">
                <span>Login</span>
                <input name="username" type="text" class="form-control">
            </div>
            <div class="form-group">
                <span>Password</span>
                <input name="password" type="text" class="form-control">
            </div>
            <span class="form-group-btn">
                <input class="btn btn-primary" type="submit" value="Login">
            </span>
        </form>
    </div>
{% endblock %}