{% extends "base.html" %}
{% block content %}
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Rarity</th>
                <th>Level</th>
                <th>Profit</th>
                <th>%</th>
                <th>Sell price</th>
                <th>Buy price</th>
                <th>Count</th>
            </tr>
            {% for item in items %}
            <tr>
                <td><span class="refresh-item glyphicon glyphicon-refresh" data-id="{{ item.item_id }}"></span>
                    <a href="/items/{{ item.item_id }}/">{{ item }}</a></td>
                <td>{{ item.type }}</td>
                <td>{{ item.rarity }}</td>
                <td>{{ item.level }}</td>
                <td data-col="profit" class="commaSeparated">{{ item.profit }}</td>
                <td data-col="profit_percent">{{ item.profit_percent }}</td>
                <td data-col="sell_price" class="commaSeparated">{% if item.market %}{{ item.market.sell_price }}{% endif %}</td>
                <td data-col="buy_price" class="commaSeparated">{% if item.market %}{{ item.market.buy_price }}{% endif %}</td>
                <td data-col="sell_quantity">{% if item.market %}{{ item.market.sell_quantity }}{% endif %}
                    <span class="watchlist-remove pull-right glyphicon glyphicon-remove" data-id="{{ item.item_id }}"></span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}